.Single{
    width: 250px;
    height: auto;
    display: block;
}

.Container{
    position: relative;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    margin: 20px 20px;
    border-radius: 10px;
}

.Container .Poster{
    height: auto;
    width: 230px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    animation: onHover 1s ease-out;
    transition: 0.3s
}

.Container:hover .OverView{
    display: flex;
}

.Container:hover .Poster{
    opacity: 0.3;
}

@keyframes onHover {
    from{opacity: 0.3;}
    to{opacity: 1;}
}

.Container .BtnContainer .PlayTrailerButton:hover{
    background-image: url('../../../assets/playButton.png');
}

.Container .OverView{
    position: absolute;
    font-size: 10px;
    margin: 10px 10px;
    overflow-y: auto;
    height: 130px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    display: none;
    z-index: 2;
    color: var(--colorlight);
    align-self: flex-end;
}

.Container .OverView::-webkit-scrollbar-track
{
    background-color: #f0e3ca;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Container .OverView::-webkit-scrollbar
{
	width: 6px;
	opacity: 0;
}

.Container .OverView::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #1b1a17;
    margin-left: 5px;
    margin-right: 5px;
}

.Container .BtnContainer .PlayTrailerButton{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.Container .BtnContainer .PlayTrailerButton:hover{
    color: #c5c4c4;
}

.Container .BtnContainer{
    width: 100%;
    height: inherit;
    position: absolute;
    display: none;
    z-index: 2;
}

.Container .BtnContainer .Button{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    transition: 0.3s

}

.Container:hover .BtnContainer{
    display: flex;
    justify-content: space-between
}

.Container .BtnContainer .AddBtn{
    color: var(--colorlight)
}

.Container .BtnContainer .AddBtn:hover{
    color: #c5c4c4;
}

.Container .BtnContainer .RemoveBtn{
    color: rgb(8, 36, 63);
}

.Container .BtnContainer .RemoveBtn:hover{
    color: rgb(5, 28, 49);
}

.Genres{ 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.Genres .Chip{
    margin: 5px 5px;
    background-color: var(--color3);
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    color: var(--colorlight);
}

.Title{
    width: 100%;
    min-height: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.FavContainer{
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 10px;
}

@media (max-width: 400px){
    .Single{
        margin: 0 auto
    }
}