.FilePicker{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px !important;
}

.PreviewContainer{
    height: 200px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.Preview{
    width: 200px;
    height: auto;
}
.FileName{
    font-size: 25px;
    font-weight: bold;
    color: var(--colordark);
}
.FilePicker input{
    width: fit-content;
}
.FilePicker input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.FilePicker label {
    font-size: 13px;
    line-height: 20px;
    border-radius: 25px;
    padding: 0px 10px;
    height: 35px;
    width: 130px;
    display: flex;
    width: fit-content;
    align-items: center;
    font-weight: 700;
    color: white;
    background-color: var(--color3);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in;
    margin: 10px 10px;
}

.FilePicker label:hover{
    background-color: rgb(61, 117, 168);
}
.CloseContainer{
    width: 100%;
    background-color: rgb(226, 225, 221);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
}

.CloseContainer:hover{
    background-color: rgb(206, 205, 202);
}
.Close{
    border-radius: 10px;
    transition: 0.3s ease-in;
    width: 50px !important;
    height: 50px !important;
}
.CropContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Crop{
    top: 170px;
    position: absolute;
    width: 200px;
}

.CropIcon{
    width: 20px !important;
    height: 20px !important;
    float: right !important;
    background-color: rgb(238, 231, 231);
    border-radius: 5px;
    opacity: 0.7;
    color: var(--color2);
    margin-right: 5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
}
.CropIcon:hover{
    opacity: 1;
    transition: all 0.3s ease-in;
}
.Buttons{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Red{
    background-color: rgba(218, 32, 32, 0.918) !important;
}
@media (max-width: 800px){
    .PreviewContainer{
        height: 250px;
    }
    .Preview{
        width: 250px;
    }
    .Crop{
        top: 220px;
        position: absolute;
        width: 250px;
    }
}
