.Toolbar{
    width: 100%;
    position: fixed;
    background-color: var(--colordark);
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    top: 0;
    opacity: 0.95;
}
.Toolbar .Logo {
    margin-left: 20px;
    width: 72px;
    height: auto;
}
.Logo:hover .LogoMain {
    color: rgb(255, 253, 253);
}

.Logo:hover .LogoSub {
    color: var(--color3);
}
.Toolbar .LogoMain{
    font-family: 'Bebas Neue', cursive;
    color: var(--color3);
    font-size: 240%;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin-bottom: -30px;
    margin-top: 15px;
    text-shadow: 0px 0px 30px var(--color3);
}

.Toolbar .LogoSub{
    font-family: 'Bebas Neue', cursive;
    color: var(--colorlight);
    font-size: 15px;
    font-weight: bold;
    margin-left: 80%;
}

.DesktopOnly{
    height: 100%;
    width: fit-content;
}
.MobileOnly{
    display: none;
}
.SearchBarForDesktop{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SearchBarForMobile{
    height: 100%;
    display: none;
}
@media (max-width: 750px){
    .DesktopOnly{
        display: none;
    }
    .MobileOnly{
        display: block;
    }
    .Toolbar{
        justify-content: space-between;
        height: 60px;
    }
    .CenterSearchBar{
        justify-content: center !important;
    }
    .Toolbar .Logo {
        margin-left: 10px;
        z-index: 20;
    }
    .Toolbar .LogoMain{
        font-size: 30px;
        margin: 0px 0px;
    }
    .SearchBarForDesktop{
        display: none;
    }
    .SearchBarForMobile{
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 1100px) and (min-width: 751px){
    .Toolbar{
        width: 100vw;
    }
}
  