.Toolbar{
    width: 100%;
    position: fixed;
    background-color: var(--colordark);
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    top: 0;
    opacity: 0.8;
}

.Toolbar .Logo {
    margin-left: 20px;
    width: 72px;
    height: auto;
}
.Logo:hover .LogoMain {
    color: rgb(255, 253, 253);
}

.Logo:hover .LogoSub {
    color: var(--color3);
}
.Toolbar .LogoMain{
    font-family: 'Bebas Neue', cursive;
    color: var(--color3);
    font-size: 240%;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin-bottom: -30px;
    margin-top: 15px;
    text-shadow: 0px 0px 30px var(--color3);
}

.Toolbar .LogoSub{
    font-family: 'Bebas Neue', cursive;
    color: var(--colorlight);
    font-size: 15px;
    font-weight: bold;
    margin-left: 80%;
}

.DesktopOnly{
    height: 100%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
    .Toolbar{
        justify-content: space-around;
        height: 60px;
    }
    .Toolbar .Logo {
        margin-left: 0;
    }
    .Toolbar .LogoMain{
        font-family: 'Bebas Neue', cursive;
        color: var(--color3);
        font-size: 30px;
        font-weight: bold;
        width: fit-content;
        height: fit-content;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .Toolbar .LogoSub{
        display: none;
    }

}

  