.Toolbar{
    width: 100%;
    position: fixed;
    background-color: var(--color1);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    top: 0;
    left: 0;
    padding: 10px 20px;
}

.Toolbar .Logo {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    margin-top: 5px;
}

.Toolbar .LogoContainer{
    background-color: var(--colorlight);
    border-radius: 20px;
}

  