.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 500;
    background-color: var(--colorlight);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.modalShow{
    transform: translateY(0);
}

.modalHide{
    transform: translateY(-1000vh);
}

.Error{
    margin: -100px 0 0 -150px;
    height: 200px;
    width: 300px;
}

.Success{
    margin: -100px 0 0 -150px;
    height: 200px;
    width: 300px;
}

.Trailer{
    margin: -300px 0 0 -600px;
    width: 1200px;
    height: 600px;
}

.Avatar{
    margin: -200px 0 0 -300px;
    height: 400px;
    width: 600px;
    border-radius: 0px;
}

.Modal p{
    color: var(--colordark);
    font: inherit;
    font-weight: bold;
    text-align: center;
}

.SuccessIcon{
    width: 70px !important;
    height: 70px !important;
    color: #91c788;
}

.ErrorIcon{
    width: 70px !important;
    height: 70px !important;
    color: #ce1212;
}

@media (max-width: 600px){
    .Error{
        margin: -75px 0 0 -100px;
        width: 200px;
        height: 150px;
    }
    
    .Success{
        margin: -75px 0 0 -100px;
        width: 200px;
        height: 150px;
    }
    
    .Trailer{
        margin: -18vh 0 0 -45vw;
        width: 90vw;
        height: 36vh;
    }
    .SuccessIcon{
        width: 40px !important;
        height: 40px !important;
    }
    
    .ErrorIcon{
        width: 40px !important;
        height: 40px !important;
    }

    .Avatar{
        margin: -50vh 0 0 -50vw;
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 1350px) and (min-width:601px){
    .Error{
        margin: -75px 0 0 -100px;
        width: 200px;
        height: 150px;
    }
    
    .Success{
        margin: -75px 0 0 -100px;
        width: 200px;
        height: 150px;
    }
    
    .Trailer{
        margin: -30vh 0 0 -45vw;
        width: 90vw;
        height: 60vh;
    }
    .SuccessIcon{
        width: 40px !important;
        height: 40px !important;
    }
    
    .ErrorIcon{
        width: 40px !important;
        height: 40px !important;
    }
    .Avatar{
        margin: -50vh 0 0 -50vw;
        width: 100vw;
        height: 100vh;
    }
}