.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 500;
    background-color: var(--colorlight);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Error{
    margin: -5% 0 0 -10%
}

.Success{
    margin: -5% 0 0 -10%
}

.Trailer{
    margin: -20% 0 0 -40%
}

.Modal p{
    color: var(--colordark);
    font: inherit;
    font-weight: bold;
    text-align: center;
}
/* @media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */
.SuccessIcon{
    width: 70px !important;
    height: 70px !important;
    color: #91c788;
}

.ErrorIcon{
    width: 70px !important;
    height: 70px !important;
    color: #ce1212;
}