.SideDrawer{
    width: 60%;
    position: fixed;
    height: 100%;
    background-color: black;
    z-index: 200;
    margin-top: 0px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.SideDrawer .LogoMain{
    font-family: 'Bebas Neue', cursive;
    color: var(--color3);
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 0px 30px var(--color3);
}

.SideDrawer .LogoSub{
    font-family: 'Bebas Neue', cursive;
    color: var(--colorlight);
    font-size: 18px;
    text-align: center;
    margin-left: 65%;
    margin-top: 17%;
    position: absolute;
}

.SideDrawerBottom{
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
}

.SideDrawerBottom p{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--colorlight);
    text-align: center;
    text-transform: uppercase;
}

.Close{
    transform: translateX(-100%);
}

.Open{
    transform: translateX(0);
}

@media (min-width:800px){
    .SideDrawer{
        display: none;
    }
}
