.Button {
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    width: 80px;
    font-size: 12px;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: var(--color3);
    color: var(--colorlight);
}

.Success:hover {
    background-color: rgb(17, 43, 68);
}

.Danger {
    background-color: #810000;
    color: white;
}

.ToggleButton{
    color:white;
}
