.Button {
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    width: 80px;
    font-size: 12px;
    transition: 0.3s
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: var(--color3);
    color: var(--colorlight);
}

.Success:hover {
    background-color: rgb(17, 43, 68);
}

.Danger {
    background-color: #810000;
    color: white;
}

.ToggleButton{
    color:white;
}

@media(min-width: 701px) and (max-width: 1100px){
    .Button {
        width: 100px;
        font-size: 17px;
        height: 50px;
    }
}
