.UpcomingMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Error{
    text-align: center;
    color: var(--colorlight);
    font-size: 20px;
}
.Upcoming{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--textcolor);
    font-family: 'Bebas Neue', cursive;
}
.Upcoming:hover{
    text-shadow: 0px 0px 30px var(--color3);
}

.Upcoming:hover{
    color: var(--colorlight);
}

.Spinner{
    width: 500px;
    height: auto;
}