.Items {
    height: 500px;
    width:  1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    background-color: var(--colorlight);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

.Items .Poster {
    height: 100%;
    width: 100%;
    transition: 0.3s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Items .BtnPosterContainer{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.BtnPosterContainer:hover .PlayTrailerButton{
    display: block;
}

.BtnPosterContainer:hover .Poster{
    opacity: 0.9;
}

.Items .PlayTrailerButton{
    width: 60px;
    height: 60px;
    display: none;
    background-size: 60px 60px;
    position: absolute;
    z-index: 2;
    color: white;
    transition: 0.3s ease-in;
}

.Items .PlayTrailerButton:hover{
    color: var(--color3)
}

.Items .MovieInfos {
    width: 70%;
    margin-right: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Items .MovieInfos .Title {
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Items .MovieInfos .Title a{
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: var(--colordark);
}

.Items .MovieInfos .OverView{
    overflow-y: auto;
    height: 150px;
    width: auto;
    text-align: left;
    vertical-align: middle;
    color: var(--colordark)
}

.Items .MovieInfos .OverView::-webkit-scrollbar-track{
    background-color: #f0e3ca;
    border-radius: 5px;
}

.Items .MovieInfos .OverView::-webkit-scrollbar{
	width: 6px;
	opacity: 0;
}

.Items .MovieInfos .OverView::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #1b1a17;
    margin-left: 5px;
    margin-right: 5px;
}

.Items .MovieInfos .Genres{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 70px;
    width: 100%;
}

.Items .MovieInfos .Genres .Chip{
    margin: 5px 5px;
    background-color: var(--color3);
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    color: var(--colorlight);
}

.Items .FButton{
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

.Items .AddBtn{
    color: rgb(136, 134, 134)
}

.Items .AddBtn:hover{
    color: rgb(66, 66, 66)
}

.Items .RemoveBtn{
    color: var(--color3);
}

.Items .RemoveBtn:hover{
    color: rgb(13, 45, 75);
}

.GenresText{
    height: 10px;
    font-size: 10px;
    margin: 0px 0px;
    text-align: center;
    display: none;
}

.ReleaseDate{
    width: 100%;
    font-weight: 700;
}

.Score{
    width: 100%;
    height: fit-content;
}
.no{
    width: 70px !important;
    height: 70px !important;
    color: var(--colordark);
}

.no:hover{
    opacity: 0.8;
}

.yes{
    width: 70px !important;
    height: 70px !important;
    color: var(--color3);
}

.yes:hover{
    opacity: 0.8;
}
@media (max-width: 399px){
    .Items {
        height: 250px;
        width: 98%
    }
    
    .Items .Poster {
        height: 100%;
    }
    
    .Items .BtnPosterContainer{
        width: 50%;
    }
    
    .Items .PlayTrailerButton{
        display: block;
        z-index: 2;
        color: white;
    }
    
    .Items .PlayTrailerButton:hover{
        color: var(--color3)
    }
    
    .Items .MovieInfos {
        width: 60%;
        margin: 0px 10px;
    }
    
    .Items .MovieInfos .Title {
        height: 50px;
    }
    
    .Items .MovieInfos .Title a{
        font-size: 16px;
    }
    
    .Items .MovieInfos .OverView{
        font-size: 13px;
        height: 80px;
    }
    
    .Items .MovieInfos .Genres{
        display: none;
    }
    
    .Items .FButton{
        margin-bottom: 0px;
        height: 30px;
    }

    .GenresText{
        display: block;
    }
    .ReleaseDate{
        display: none;
    }
    .Score{
        display: none;
    }
    .no{
        width: 30px !important;
        height: 30px !important;
    }
    .yes{
        width: 30px !important;
        height: 30px !important;
    }
}

@media (max-width: 600px) and (min-width: 400px){
    .Items {
        height: 300px;
        width: 90%;
        justify-content: space-between;
    }
    
    .Items .Poster {
        height: 100%;
    }
    
    .Items .BtnPosterContainer{
        width: 50%;
    }
    
    .Items .PlayTrailerButton:hover{
        color: var(--color3)
    }
    
    .Items .MovieInfos {
        width: 60%;
        margin: 0px 10px;
    }
    
    .Items .MovieInfos .Title {
        height: 50px;
    }
    
    .Items .MovieInfos .Title a{
        font-size: 20px;
    }
    
    .Items .MovieInfos .OverView{
        height: 80px;
    }
    
    .Items .MovieInfos .Genres{
        display: none;
    }
    
    .Items .FButton{
        height: 30px;
        margin-bottom: 0px;
    }
    .GenresText{
        display: block;
    }
    .ReleaseDate{
        display: none;
    }
    .Score{
        display: none;
    }
    .no{
        width: 50px !important;
        height: 50px !important;
    }
    .yes{
        width: 50px !important;
        height: 50px !important;
    }
}

@media(min-width: 601px) and (max-width: 1100px){
    .Items{
        width: 90%;
    }
    .Items .MovieInfos{
        width: 53%;
        justify-content: space-evenly;
    }
    .Items .FButton{
        width: 100%;
        height: 30px;
        margin-bottom: 50px;
    }
    .Score{
        display: none;
    }
}
