.Webinfo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.Webinfo img {
    height: 30px;
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Webinfo p {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: var(--textcolor);
}

.ContacIcons{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.icons{
    height: 30px !important;
    width: 30px !important;
    color: var(--textcolor);
    margin: auto 5px;
}

.icons:hover{
    color: var(--color3)
}