.SearchDropDownItems{
    position: absolute;
    margin-top: 10px;
    height: auto;
    max-height: 460px;
    overflow-y: auto;
    width: 400px;
    z-index: 90;
    background-color: var(--color1);
    box-shadow: 0px 3px 6px rbga(0,0,0,0.5);
    border-radius: 10px;
}

.SearchDropDownItems::-webkit-scrollbar-track
{
    background-color: var(--color1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.SearchDropDownItems::-webkit-scrollbar
{
	width: 12px;
	opacity: 0;
}

.SearchDropDownItems::-webkit-scrollbar-thumb
{

	background-color: var(--colorlight);
    margin-left: 5px;
    margin-right: 5px;
}
