.SearchDropDownItem{
    display: flex;
    height: 90px;
    width: auto;
    justify-content: space-between;
}

.SearchDropDownItem:hover{
    background-color: var(--color2); 
}

.SearchDropDownItem img{
    height: 100%;
    width: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    z-index: 2;
}

.SearchDropDownItem .MovieInfo{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.SearchDropDownItem .MovieInfo a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: var(--textcolor);
}

.SearchDropDownItem .MovieInfo a:hover{
    text-decoration: underline;
}

.SearchDropDownItem .MovieInfo p{
    font-size: 12px;
    color: var(--colorlight)
}

@media (max-width: 300px){
    .SearchDropDownItem img{
        display: none;
    }
}