.Genre{
    display: flex;
    margin: 10px 15px;
    text-align: center;
    padding: auto 0;
    font-size: 9px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    background-color: #810000;
    color: #eeebdd;
    justify-content: center;
    align-items: center;
}
.Genre p {
    width: 50px;
    font-weight: bold;
}



