.Input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: var(--colordark);
    text-align: center;
}
.labelWhite{
    color: var(--colorlight) !important;
    font-size: 20px;
}
.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: var(--colorlight);
    border-radius: 10px;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: var(--colordark);
}

.Textarea{
    height: 200px;
    overflow-y: auto;
}
.Textarea::-webkit-scrollbar-track{
    background-color: var(--colorlight);
    border-radius: 20px;
}

.Textarea::-webkit-scrollbar{
	width: 10px;
	opacity: 0;
    height: 50px;

}

.Textarea::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--color3);
    margin-left: 5px;
    margin-right: 5px;
}

.InputElement:focus{
    outline: none;
    box-shadow: 0 1px 3px var(--color1);
}

.Invalid {
    border: 1px solid #ce1212;
    background-color: rgb(231, 133, 133);
}
.ValidationError {
    color: #ce1212;
    margin: 5px 0;
    font: inherit;
} 
.Disabled{
    border: none;
}