.Input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: var(--colordark);
    text-align: center;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: var(--colorlight);
    border-radius: 10px;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: var(--colordark);
}

.InputElement:focus{
    outline: none;
    box-shadow: 0 1px 3px var(--color1);
}

.Invalid {
    border: 1px solid #ce1212;
    background-color: rgb(231, 133, 133);
}
.ValidationError {
    color: #ce1212;
    margin: 5px 0;
    font: inherit;
} 