.TrendingMovies{
    box-sizing: border-box;
}

.TrendingMovies .Error{
    text-align: center;
    color: var(--colorlight);
    font-size: 20px;
}

.Spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.pagination{
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    list-style: none;
    top: 465px;
    left: 50%px;
}

@media(max-width: 400px){
    .arrows{
        display: none;
    }
    .pagination{
        display: none;
    }
    .Spinner{
        height: 250px;
    }
}

@media(min-width: 401px) and (max-width: 600px){
    .pagination{
        display: none;
    }
    .arrows{
        display: none;
    }
    .Spinner{
        height: 300px;
    }
}

@media(min-width: 601px) and(max-width: 1100px){
    .pagination{
        display: none;
    }
    .arrows{
        display: none;
    }
}