.TrendingMovies{
    box-sizing: border-box;
}

.TrendingMovies .Error{
    text-align: center;
    color: var(--colorlight);
    font-size: 20px;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}