.Movie{
    margin-top: 72px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.Movie .MovieContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column-reverse;
}

.MovieContainer .BackdropContainer{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: column-reverse;
}

.BackdropContainer .Backdrop{
    width: 1000px;
    height: auto;
}

.MovieContainer .BackGround{
    position: absolute;
    width: 1000px;
    height: 283px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
    top: 353px;
}

.TopInfo{
    position: absolute;
    width: 1000px;
    height: auto;
    top: 80px;
    padding: 0px -30px;
    font-size: 15px;
    font-weight: bold;
    color: var(--colorlight);
    display: flex;
    justify-content: space-between;
}

.Rate{
    margin-left: 20px;
    margin-top: 20px;
}

.MobileOnly{
    display: none;
}
.Pagination{
    width: 100%;
    margin-top: 30px;
}
.Bottom{
    display: flex;
    height: fit-content;
    flex-direction: column;
}
@media(max-width: 1100px){  
    .MovieContainer .BackdropContainer{
        width: 100%;
        height: fit-content;
        align-items: center;
    }
    
    .BackdropContainer .Backdrop{
        width: 100%;
        z-index: 50;
    }
    
    .MovieContainer .BackGround{
        width: 100vw;
        height: 100vh;
        left: 0;
        transform: translateX(0);
        top: 0;
    }
    .TopInfo{
        display: none;
    }
    .MobileOnly{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


