.MovieItemType{
    width: 70px !important;
    height: 70px !important;
    float: right;
}

.ItemType{
    width: 60px !important;
    height: 60px !important;
}

.MovieType{
    width: 60px !important;
    height: 60px !important;
    margin-right: 10px;
}
.Icon{
    transition: all 0.5s ease-in-out;
}
.Icon:hover{
    opacity: 0.8;
}

@media (max-width: 600px) and (min-width: 400px){
    .MovieItemType{
        width: 50px !important;
        height: 50px !important;
    }
}

@media (max-width: 399px){
    .MovieItemType{
        width: 30px !important;
        height: 30px !important;
    }
}
