.WatchListItems{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.Box{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.Name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--textcolor);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.Options{
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.Option{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Quote{
    font-size: 17px;
    color: var(--textcolor);
}
@media(max-width: 1100px) {
    .Box{
        width: 100%;
        margin-bottom: 40px;
        padding: 0px 5px;
    }
    .Background{
        height: 100%;
        width: 90%;
    }
    .Name{
        text-align: center;
    }
    .Option{
        align-items: center;
    }
    .Options{
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Quote{
        font-size: 17px;
        color: var(--textcolor);
    }
}
