.Items {
    height: 420px;
    width:  700px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    background-color: var(--colorlight);
    display: flex;
    justify-content: space-between;
}

.Items .Poster {
    height: auto;
    width: 100%;
}

.Items .BtnPosterContainer{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.BtnPosterContainer:hover .PlayTrailerButton{
    display: block;
}

.BtnPosterContainer:hover .Poster{
    opacity: 0.85;
}

.Items .PlayTrailerButton{
    width: 60px;
    height: 60px;
    display: none;
    background-size: 60px 60px;
    position: absolute;
    z-index: 2;
    color: white;
}

.Items .PlayTrailerButton:hover{
    color: var(--color3)
}

.Items .MovieInfos {
    width: 50%;
    margin-right: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Items .MovieInfos .Title {
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Items .MovieInfos .Title a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--colordark);
}

.Items .MovieInfos .OverView{
    overflow-y: auto;
    height: 150px;
    width: auto;
    text-align: left;
    vertical-align: middle;
    color: var(--colordark)
}

.Items .MovieInfos .OverView::-webkit-scrollbar-track{
    background-color: #f0e3ca;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Items .MovieInfos .OverView::-webkit-scrollbar{
	width: 6px;
	opacity: 0;
}

.Items .MovieInfos .OverView::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #1b1a17;
    margin-left: 5px;
    margin-right: 5px;
}

.Items .MovieInfos .Genres{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 70px;
}

.Items .MovieInfos .Genres .Chip{
    margin: 5px 5px;
    background-color: var(--color3);
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    color: var(--colorlight);
}

.Items .FButton{
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

.Items .FavoriteButton{
    width: 60px;
    height: 60px;
    float: right;
}

.Items .AddBtn{
    color: rgb(136, 134, 134)
}

.Items .AddBtn:hover{
    color: rgb(66, 66, 66)
}

.Items .RemoveBtn{
    color: var(--color3);
}

.Items .RemoveBtn:hover{
    color: rgb(13, 45, 75);
}

.Items .Spinner{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
}

.GenresText{
    height: 10px;
    font-size: 10px;
    margin: 0px 0px;
    text-align: center;
    display: none;
}

@media (max-width: 399px){
    .Items {
        height: fit-content;
        width: 98%
    }
    
    .Items .Poster {
        height: 100%;
        width: 100%;
    }
    
    .Items .BtnPosterContainer{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: cente  r;
        align-items: center;
        box-shadow: 0 0px 0px rgba(0,0,0,0.5);
    }
    
    .BtnPosterContainer:hover .Poster{
        opacity: 1;
    }
    
    .Items .PlayTrailerButton{
        width: 60px;
        height: 60px;
        display: block;
        background-size: 60px 60px;
        position: absolute;
        z-index: 2;
        color: white;
    }
    
    .Items .PlayTrailerButton:hover{
        color: var(--color3)
    }
    
    .Items .MovieInfos {
        width: 60%;
        margin: 0px 10px;
    }
    
    .Items .MovieInfos .Title {
        height: 50px;
    }
    
    .Items .MovieInfos .Title a{
        font-size: 16px;
    }
    
    .Items .MovieInfos .OverView{
        font-size: 13px;
        height: 80px;
    }
    
    .Items .MovieInfos .Genres{
        display: none;
    }
    
    .Items .FButton{
        width: 100%;
        height: fit-content;
        margin-bottom: 0px;
    }
    
    .Items .FavoriteButton{
        width: 30px;
        height: 30px;
        float: right;
    }
    .Items .Spinner{
        float: right;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-top: 10px;
        color: black;
        font-size: 10;
    }
    .GenresText{
        display: block;
    }
}

@media (max-width: 600px) and (min-width: 400px){
    .Items {
        height: fit-content;
        width: 90%
    }
    
    .Items .Poster {
        height: 100%;
        width: 100%;
    }
    
    .Items .BtnPosterContainer{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0px 0px rgba(0,0,0,0.5);
    }
    
    .BtnPosterContainer:hover .Poster{
        opacity: 1;
    }
    
    .Items .PlayTrailerButton{
        width: 60px;
        height: 60px;
        display: block;
        background-size: 60px 60px;
        position: absolute;
        z-index: 2;
        color: white;
    }
    
    .Items .PlayTrailerButton:hover{
        color: var(--color3)
    }
    
    .Items .MovieInfos {
        width: 60%;
        margin: 5px 10px;
    }
    
    .Items .MovieInfos .Title {
        height: 50px;
    }
    
    .Items .MovieInfos .Title a{
        font-size: 20px;
    }
    
    .Items .MovieInfos .OverView{
        height: 80px;
    }
    
    .Items .MovieInfos .Genres{
        display: none;
    }
    
    .Items .FButton{
        width: 100%;
        height: fit-content;
    }
    
    .Items .FavoriteButton{
        width: 30px;
        height: 30px;
        float: right;
    }

    .Items .Spinner{
        float: right;
        width: 60px;
        height: 60px;
        margin-right: 10px;
        margin-top: 10px;
        color: black;
    }
    .GenresText{
        display: block;
    }
}
