:root{
  background-image:linear-gradient(#000000e3, #000000e3), url("./assets/background.jpg");
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  --color1: #706c61;
  --color2: #333333;
  --color3: rgb(21, 61, 99);
  --colordark: rgb(0, 0, 0);
  --colorlight: #ffffff;
  --textcolor: #e1f4f3;
  overflow-x: hidden;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: var(--colorlight);
  font-weight: bold;
}

a:hover{
  color: rgba(194, 194, 194, 0.842);
}
