.NavigationItem {
    height: 100%;
    width: 150%;
    top: 50%;
    height: 100%;
    list-style: none;
    text-align: center;
    margin: 0 15px;
}

.NavigationItem a{
    color: var(--colorlight);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s
}
.NavigationItem p{
    text-align: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: var(--color1);
}

.Active{
    background-color: var(--color1);
}

.NavItem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NavItemTitle{
    display: none;
    margin: 0 0;
}

@media (max-width: 499px){
    .NavigationItem{
        height: 60px;
        width: 100%;
        margin: 0 0;
        margin-bottom: 10px;
    }
    .NavigationItem a{
        padding: 0 0;
    }
    .NavItemTitle{
        display: block;
    }
    .NavigationItem p{
        margin: 0 0;
    }
}
