.NavigationItem {
    height: 100%;
    width: 100px;
    top: 50%;
    height: 100%;
    list-style: none;
    text-align: center;
}

.NavigationItem a{
    color: var(--colorlight);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.NavigationItem p{
    text-align: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: var(--colorlight);
    background-color: var(--colordark);
}

.Active{
    color: var(--colorlight);
    background-color: var(--colordark);
}
