.NavigationItems{
    display: flex;
    flex-flow: row;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

@media (max-width: 499px){
    .NavigationItems{
        margin-bottom: 50px;
        display:flex;
        flex-flow: column;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }
}