.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.container h1{
    font-weight: bold;
    color: var(--color3);
    letter-spacing: 2px;
}
.Favorites h1{
    width: 100%;
    text-align: center;
}
.Favorites{
    width: 100vw;
}
.UserProfile{
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--colorlight);
    border-radius: 20px;
    height: fit-content;
}
.Profile{
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.Avatar{
    margin: 0px 40px;
}
.Name{
    font-size: 40px;
    margin: 0px 0px;
    color: var(--color3);
    width: 80%;
    overflow: hidden;
    height: 60px;
    font-weight: bold;
}
.Info{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
}

.AboutMe{
    color: var(--color3);
    font-weight: bold;
    font-size: 26px;
    text-decoration: underline;
    margin: 0px 0px;
}
.Description{
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Description::-webkit-scrollbar-track{
    background-color: var(--colorlight);
    border-radius: 5px;
}
.Description::-webkit-scrollbar{
	width: 6px;
	opacity: 0;
}
.Description::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--color3);
    margin-left: 5px;
    margin-right: 5px;
}
.GotoWLContainer{
    width: 100%;
}
.GotoWLContainer .GotoWL{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: none;
    color: var(--color3);
    font-size: 16px;
}
.GotoWLContainer .GotoWL:hover{
    color: var(--color3)
}
.SwitchButton{
    position: absolute;
    width: 95%;
    top: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 20;
}
.Inputs{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SetAvatarContainer{
    width: 250px !important;
    position: absolute;
    top: 230px;
}
.SetAvatar{
    width: 30px !important;
    height: 30px !important;
    float: right;
    color: var(--color3);
    z-index: 30;
}
.SetAvatar:hover{
    color: var(--color2)
}

@media(max-width: 800px) {
    .UserProfile{
        width: 95%;
        border-radius: 10px;
    }
    .Profile{
        flex-direction: column;
        align-items: center;
    }
    .Name{
        font-size: 30px;
        color: var(--color3);
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    .Info{
        width: 90%;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .AboutMe{
        display: none;
    }
    .Description{
        padding: 10px 10px;
        width: 95%;
        border-radius: 10px;
    }
    .SwitchButton{
        width: 100%;
    }
    .Inputs{
        width: 100%;
    }
}

@media(max-width: 1100px) and (min-width: 801px){
    .UserProfile{
        width: 90%;
    }
}