.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.UserProfile{
    position: relative;
    width: 50%;
    height: fit-content;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Background{
    height: 100%;
    width: 50%;
    background-color: var(--colorlight);
    opacity: 0.5;
    position: absolute;
    border-radius: 20px;
    z-index: -20;
}

.UserProfile p{
    font-size: 20px;
    font-weight: bold;
}

.Inputs{
    width: 100%;
    height: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
}

.GotoWLContainer{
    width: 100%;
}

.GotoWLContainer .GotoWL{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: none;
    color: var(--colordark);
    font-size: 16px;
}

.GotoWLContainer .GotoWL:hover{
    color: var(--color3)
}

.SetAvatarContainer{
    width: 200px !important;
    position: absolute;
    top: 170px;
}
.SetAvatar{
    width: 30px !important;
    height: 30px !important;
    float: right;
    color: var(--color3)
}

.SetAvatar:hover{
    background-color: rgb(218, 213, 213);
    border-radius: 5px;
}
.SwitchButton{
    position: absolute;
    width: 90%;
    top: 20px;
    display: flex;
    justify-content: flex-end;

}
@media(max-width: 800px) {
    .UserProfile{
        width: 90%;
    }
    .Background{
        width: 90%;
    }
}

@media(max-width: 1100px) and (min-width: 801px){
    .UserProfile{
        width: 90%;
    }
    .Background{
        width: 90%;
    }
}